<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="path/to/font-awesome/css/all.css">
</head>

<body>
    <div class="container">
        <div class="footer">

            <div class="row">
                <div class=" col" style="text-align: center;">
                    <h5>O nama</h5>
                    <p>
                        Mi smo tvrtka specijalizirana za distribuciju visokokvalitetnih proizvoda za naše kupce. Naš
                        cilj je
                        pružiti najbolje moguće iskustvo našim kupcima i nadmašiti njihova očekivanja.</p>
                    <div class="row">
                        <div class="col-6" style=" text-align: center; margin-top:30px">
                            <p>LP webshop posvećena je prodaji najnovijih tehnoloških proizvoda i inovacija. Naša misija
                                je
                                pružiti
                                kupcima visokokvalitetne proizvode po konkurentnim cijenama i brzu dostavu..</p>
                        </div>
                        <div class="col-6" style="margin-top: 30px;">
                            <p> Naš asortiman
                                proizvoda obuhvaća široku paletu tehnoloških proizvoda, uključujući računalnu opremu,
                                pametne telefone, prijenosna računala, tablete, pametne satove i druge dodatke</p>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
            <div class="row">
                <!---->
                <div class="col" style="text-align: center;">
                    <h5>Lokacija</h5>
                    <p>Heinzelova ulica 44</p>
                    <p>10000 Zagreb, Croatia</p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2780.9121690249476!2d15.975194615442703!3d45.81301737910654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d6fdc2523427%3A0x38ba0548d814fdc9!2sBan%20Josip%20Jela%C4%8Di%C4%87%20Square%2C%2010000%2C%20Zagreb%2C%20Croatia!5e0!3m2!1sen!2sus!4v1677959017345!5m2!1sen!2sus"
                        style="width: 100%; height: 70%;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <!---->
            <div class="row">
                <div class="col" style="text-align: center;">
                    <div class="col" style="margin-top:70px; width: 100%;">
                        <h5>U slučaju kakvih poteškoća slobodni ste javiti nam se na : </h5>
                        <p style="font-family: monospace; font-weight: bold; font-size: 16px;">
                            leon.pisacic2002@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>