<div class="main-header">
    <div class="content">
        <div class="mySlides fade block"> <!--default picture-->
            <img src="/assets/slike/Promocija1.jpeg" class="promocije">
        </div>
        <div class="mySlides fade">
            <img src="/assets/slike/Promocija2.jpeg" class="promocije">
        </div>
        <div class="mySlides fade">
            <img src="/assets/slike/Promocija3.jpeg" class="promocije">
        </div>
        <div class="mySlides fade">
            <img src="/assets/slike/Promocija4.jpeg" class="promocije">
        </div>
        <!--The dots-->
        <div style="text-align:center">
            <span class="dot" (click)="currentSlide(1)"></span>
            <span class="dot" (click)="currentSlide(2)"></span>
            <span class="dot" (click)="currentSlide(3)"></span>
            <span class="dot" (click)="currentSlide(4)"></span>
        </div>
    </div>
</div>