<div class="container" *ngIf="vrstaNarudzbeOdabrana && prikaziNarudzbu">
    <span style="text-align: start;">
        <button class="btn btn-primary" style="margin-bottom: 20px;" (click)="vratiKorakNazad2()">Back</button>
    </span>
    <div class="row red">
        <h3 style="margin-bottom: 2%; text-align: center; color:#6495ED" class="container" *ngIf="!narudzbaUTijeku">
            Sifra narudzbe
            {{sifraNarudzbeArray[index]}}
        </h3>
        <h3 style="margin-bottom: 2%; text-align: center; color:#6495ED" class="container" *ngIf="narudzbaUTijeku">Sifra
            narudzbe
            {{sifraNarudzbeArray2[index]}}
        </h3>
        <div class="col-md-12">
        </div>
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="vertical-align:middle">Ime</th>
                            <th style="vertical-align:middle">Prezime</th>
                            <th style="vertical-align:middle">Grad</th>
                            <th style="vertical-align:middle">Poštanski broj</th>
                            <th style="vertical-align:middle">Adresa</th>
                            <th style="vertical-align:middle">Broj telefona</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center;">

                            <td style="vertical-align:middle">{{sveNarudzbe[index].narudzba.ime}}</td>
                            <td style="vertical-align:middle">{{sveNarudzbe[index].narudzba.prezime}}</td>
                            <td style="vertical-align:middle">{{sveNarudzbe[index].narudzba.grad}}</td>
                            <td style="vertical-align:middle">{{sveNarudzbe[index].narudzba.postanskiBroj}}</td>
                            <td style="vertical-align:middle">{{sveNarudzbe[index].narudzba.adresa }} </td>
                            <td style="vertical-align:middle">{{sveNarudzbe[index].narudzba.brojTelefona }}

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tabProizvod_{{index}}">
                            <thead>
                                <tr style="text-align: center;">
                                    <th style="vertical-align:middle">Ime proizvoda</th>
                                    <!-- <th style="vertical-align:middle">Opis proizvoda</th> -->
                                    <th style="vertical-align:middle">Cijena proizvoda</th>
                                    <th style="vertical-align:middle">Količina</th>
                                    <th style="vertical-align:middle">Ukupno</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let proizvod of sveNarudzbe[index].proizvodi; let idx = index"
                                    style="text-align: center;">
                                    <td style="vertical-align:middle">{{proizvod.kratakOpisProizvoda}}</td>
                                    <td style="vertical-align:middle">${{proizvod.cijena}}</td>
                                    <td style="vertical-align:middle">{{proizvod.kolicina}}</td>
                                    <td style="vertical-align:middle">${{((proizvod.cijena * 0.25) +
                                        proizvod.cijena).toFixed(2)}}
                                    </td>

                                </tr>

                                <div class="col-md-6 text-right" style="margin-top: 5%; margin-bottom: -20px;">
                                    <table class="table table-borderless table-sm">
                                        <tbody>
                                            <tr>
                                                <div style="margin-right: 10px;">
                                                    <th>Subtotal </th>
                                                    <td> ${{this.viewOrders.calculateTotals(sveNarudzbe,
                                                        index).SUBTOTAL.toFixed(2)}}</td>
                                                    <!--ogranicimo na dvije decimale-->
                                                </div>


                                                <th>Tax</th>
                                                <td>${{this.viewOrders.calculateTotals(sveNarudzbe,
                                                    index).tax.toFixed(2)}}</td>


                                                <div style="margin-left: 10px;">
                                                    <th class="text-dark">Total</th>
                                                    <td class="text-cark" style="margin-right: 10px;">
                                                        ${{this.viewOrders.calculateTotals(sveNarudzbe,
                                                        index).total.toFixed(2)}}</td>
                                                </div>
                                                <!--how to make this button appear just on the right side of {{proizvod.kratakOpisProizvoda}} ??-->
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div style="text-align: right;">
                <span style="margin-right: 10px;">Status narudžbe:</span>

                <span class="btn btn-secondary statusNarudzbe" routerLinkActive="active" checked
                    *ngIf="!sveNarudzbe[index].narudzbaObradena" style="margin-right: 10px; border: 1px solid black;">U
                    obradi
                    <i class="fa-solid fa-spinner"></i>
                </span>

                <!--i would like for these button when it is proizvod.narudzbaObradena true, to activate btn-success boostrap class
                , so it can look green -->
                <span class="btn statusNarudzbe" [class.btn-success]="sveNarudzbe[index].narudzbaObradena"
                    routerLinkActive="active" checked style="border: 1px solid black;"
                    (click)="obrisiNarudzbu(index); ">Poslano
                    <i class="fa-solid fa-user-check"></i>
                </span>

            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="vrstaNarudzbeOdabrana && !prikaziNarudzbu">
    <span style="text-align: start;">
        <button class="btn btn-primary" style="margin-bottom: 20px;" (click)="vratiKorakNazad()">Back</button>
    </span>

    <h2 style="text-align: center; margin-bottom: 20px;" *ngIf="narudzbaUTijeku"> <i class="fa-solid fa-hourglass-end"
            style="margin-right: 10px;"></i>Narudžbe u tijeku
    </h2>
    <h2 style="text-align: center;margin-bottom: 20px;" *ngIf="!narudzbaUTijeku"> <i
            class="fa-regular fa-calendar-check" style="margin-right: 10px;"></i>Riješene narudžbe</h2>

    <div class="row" *ngFor="let proizvod of sveNarudzbe let idx = index">
        <div class="col" style="text-align: center;">
            <button class="btn narudzbe" (click)="sendIndex(idx)">
                <span *ngIf="!narudzbaUTijeku">
                    Sifra narudzbe {{sifraNarudzbeArray[idx]}}
                </span>

                <span *ngIf="narudzbaUTijeku">
                    Sifra narudzbe {{sifraNarudzbeArray2[idx]}}
                </span>

            </button>
        </div>
    </div>

</div>

<div class="container container2" *ngIf="!vrstaNarudzbeOdabrana">
    <h1 style="text-align: center; margin-bottom: 30px;">Izaberi tip narudžbe</h1>

    <div class="row">
        <div class="col">
            <div style="text-align: center;">
                <span class="col-md-6 text-center">
                    <button class="btn btn-success" style="width: 50%;" (click)="filtrirajRijeseneNarudzbe()">
                        <i class="fa-regular fa-circle-check" style="margin-right: 10px;"></i>Riješene narudžbe
                    </button>
                </span>
            </div>
            <br />
            <!---->

            <div style="text-align: center;">
                <span class="col-md-6 text-center">
                    <button class="btn btn-danger" style="width: 50%;" (click)="filtriraj_Narudzbe_Na_Cekanju()">
                        <i class="fa-solid fa-spinner" style="margin-right: 10px;"></i>Narudžbe na čekanju
                    </button>
                </span>
            </div>
        </div>

    </div>

</div>


<!--kod samo ukoliko je admin ulogiran, na klik 'Pozdrav Leon' omogucuje brisanje korisnika-->
<div class="container" *ngIf="this.viewOrders.adminUlogiran">
    <h1 style="text-align: center; margin-bottom: 30px;">Svi korisnici</h1>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="vertical-align:middle">Ime</th>
                            <th style="vertical-align:middle">Prezime</th>
                            <th style="vertical-align:middle">Email</th>
                            <th style="vertical-align:middle">Lozinka</th>
                            <th style="vertical-align: middle;">Obriši</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>